* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67595E;
    width: 100%;
    height: 100vw;
    max-height: 100vh;

}

.leftContainer {
    margin: 0px 50px;
}

.leftContainer h1 {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.leftContainer p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: rgb(224, 224, 224);
    font-weight: 400;
    margin: 40px 0px;
}

.form-register {
    width: 100%;
}

.time-switch-holder {
    display: flex;
    justify-content: space-between;
}

.switch-button {
    width: 50%;
    border: none;
    padding: 20px 0px;
    background-color: #A49393;
    color: white;
    text-align: center;
}

.switch-button:first-child {
    border-radius: 3px 0 0 3px;
}

.switch-button:last-child {
    border-radius: 0 3px 3px 0;
}

.selected-btn {
    border-bottom: solid 3px indianred;
    font-weight: 800;
}

.input-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border-radius: 3px;
    margin: 10px 0px;
    width: calc(100% - 20px);
}

.input-holder  .input-design{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.input-design > label{
    font-size: 0.8rem;
    color: #A49393;
    font-weight: 400;
    margin-bottom: 5px;
}

.input-design  input{
    height: 40px;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.gps-icon{
    width: 30px;
    height: 30px;
    border: none;
    background:transparent;
    color: green;
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
}

.search-button{
    width: 100%;
    border-radius: 3px;
    height: 70px;
    border: none;
    background-color: #E8B4B8;
    color: white;
    font-size: 1.1rem;

}



.rightContainer{
    background: url('https://i.pinimg.com/originals/df/0a/d7/df0ad71d0da0d9dc89b4fbab658c96da.gif');
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.rightContainer::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right , #67595e,#67595ee0, rgba(0, 0, 0, 0.358));
}