.spotify-content-holder{
    width: 100%;
}

.spotify-preview {
    width: 100%;
    height: 150px;
    background-color: red;
    border-radius: 20px !important;
    overflow: hidden;
    position: relative;

}
.spotify-preview::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}


